body {
    /* background: -webkit-linear-gradient(left, #FFFF00 0%, #00BCD4 50%, #EE82EE 100%); */
}

.customHeight {
    min-height: 90dvh!important;
}

.carousel-indicators { 
    visibility: hidden!important;
}

.kick{
    cursor: pointer;
}

.navbarDec {
    transition: all 0.2s;
    position: relative;
}

.navbarDec:hover {

}

.navbarDec::after {
    content: " ";
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: #b13546;
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbarDec:hover::after {
    opacity: 1;
}