body {
    /* background: -webkit-linear-gradient(left, #FFFF00 0%, #00BCD4 50%, #EE82EE 100%); */
}

.customHeight {
    min-height: 85vh!important;
}

.carousel-indicators { 
    visibility: hidden!important;
}

.kick{
    cursor: pointer;
}